<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Validation Query Detail</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">Validation Query Snippet Info</label>
                <!-- 스니펫 테이블 -->
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-vcenter">
                        <thead class="sticky-top">
                            <tr style="text-align: center;">
                                <th style="width: 10%;">Work ID</th>
                                <th style="width: 15%;">Type</th>
                                <th style="width: 10%;">Projection</th>
                                <th style="width: 10%;">Filter</th>
                                <th style="width: 10%;">Order By</th>
                                <th style="width: 10%;">Group By</th>
                                <th style="width: 10%;">Limit</th>
                                <th style="width: 10%;">Having</th>
                            </tr>
                        </thead>
                        <tbody id="logSnippetTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            
        <div class="modal-footer">
            <!-- <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button> -->
        </div>
    </div>
</div>
