<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Validation Query Result Detail</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <!-- 메트릭 테이블 -->
                <div class="table-responsive">
                    <table class="table table-vcenter" style="max-height: 250px; overflow-y: auto;">
                        <thead>
                            <tr style="text-align: center;">
                                <th style="width: 15%;">Metric</th>
                                <th style="width: 10%;">Total</th>
                                <th style="width: 10%;">Host</th>
                                <th style="width: 10%;">CSD Total</th>
                                <th style="width: 10%;">CSD1</th>
                                <th style="width: 10%;">CSD2</th>
                                <th style="width: 10%;">CSD3</th>
                                <th style="width: 10%;">CSD4</th>
                                <th style="width: 10%;">CSD5</th>
                                <th style="width: 10%;">CSD6</th>
                                <th style="width: 10%;">CSD7</th>
                                <th style="width: 10%;">CSD8</th>
                            </tr>
                        </thead>
                        <tbody id="MetricTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="mb-3">
                <!-- <label class="form-label">Host CPU / CSD Total CPU</label> -->
                <div class="row" style="display: flex;">
                    <div class="col-6" style="padding-right: 5px;">
                      <div class="card" style="padding: 0 15px 10px 0;">
                        <div class="row" style="padding-top: 5px;">
                          <div style="margin: 5px 15px 1px;">Host CPU / CSD Total CPU</div>
                          <div id="HostCSDCPU" ></div>
                          <div style="margin: 30px 15px 1px;">Host Power / CSD Total Power</div>
                          <div id="HostCSDPower"></div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-6" style="padding-left: 5px;">
                      <div class="card" style="padding: 0 15px 10px 0;">
                        <div class="row" style="padding-top: 5px;">
                          <div style="margin: 5px 15px 15px;">Host Power / CSD Total Power</div>
                          <div id="HostCSDPower"></div>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-6" style="padding-left: 5px;">
                      <div class="card" style="padding: 0 15px 10px 0;">
                        <div class="row" style="padding-top: 5px;">
                          <div style="margin: 5px 15px 15px;">CSD CPU / Power</div>
                          <div id="detailContainer">
                            <div id="CSDCpuPower"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            
        <div class="modal-footer">
            <!-- <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button> -->
        </div>
    </div>
</div>
